#canvas {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 600px;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 3px solid black;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    overflow: hidden;
    background-color: rgb(49, 47, 160);
}

.hidden {
    display: none;
}

.instruction,
.character-setup,
.countdown {
    position: absolute;
    text-align: center;
    justify-content: center;
}

.welcome {
    border: 2px solid rgb(64, 51, 241);
    padding: 3rem;
}
