<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <img src="../Vector.png" alt="" width="70" height="70">
        <div class="nav-list">
            <li>HOME</li>
            <li>ABOUT</li>
            <li>BLOGS</li>
            <li>PORTIFOLIOS</li>
        </div>
        <button>Sign Up</button>
    </nav>
    <div class="blog">
        <div class="author">
            <h5><b>AUTHOR: JON DOE</b></h5>
        </div>
        <div class="content">
            <img src="../MEDIA_FILES/IMAGES/images (11).jpg" alt="" width="472" height="321">
            <div class="text-blog">
                <h1>TITLE</h1>

                <p>A transformative project blending modern design with sustainable practices to create an urban oasis.
                </p>

                <b>date: augst 29 2024</b>
                <div class="info">
                    <h5>Comment: 12k</h5>
                    <h5>views : 12k</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="author">
            <h5><b>AUTHOR: JON DOE</b></h5>
        </div>
        <div class="content">
            <img src="../MEDIA_FILES/IMAGES/images (11).jpg" alt="" width="472" height="321">
            <div class="text-blog">
                <h1>TITLE</h1>

                <p>A transformative project blending modern design with sustainable practices to create an urban oasis.
                </p>

                <b>date: augst 29 2024</b>
                <div class="info">
                    <h5>Comment: 12k</h5>
                    <h5>views : 12k</h5>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h1>CATEGORIES</h1>
        <div class="list-categories">
            <ul>
                <li>Web Design</li>
                <li>Graphic Design</li>
                <li>roduct Design</li>
                <li>Branding</li>
            </ul>
            <ul>
                <li>Web Design</li>
                <li>Graphic Design</li>
                <li>roduct Design</li>
                <li>Branding</li>
            </ul>
        </div>
    </footer>


</body>

</html>