<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <img src="../Vector.png" alt="" width="70" height="70">
        <div class="nav-list">
            <li>HOME</li>
            <li>ABOUT</li>
            <li>BLOGS</li>
            <li>PORTIFOLIOS</li>
        </div>
        <button>Sign Up</button>
    </nav>
    <div class="blog">
        <div class="author">Author : jhon Smith </div>
        <div class="content">
            <img src="../MEDIA_FILES/IMAGES/images (11).jpg" alt="" width="472" height="321">
            <div class="text-blog">
                <h1>TITLE</h1>

                text
            </div>
        </div>
    </div>


    
</body>
</html>