<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <img src="../Vector.png" alt="" width="70" height="70">
        <div class="nav-list">
            <li>HOME</li>
            <li>ABOUT</li>
            <li>BLOGS</li>
            <li>PORTIFOLIOS</li>
        </div>
        <button>Sign Up</button>
    </nav>
  
    <div class="portofolio">
        <div class="portofolio-content">
            <div class="portofolio-text">
                <h1>The Art of Fluid Web Design: A New Era of Interactivity</h1>
                <p>Discover how fluid web design is transforming modern websites with smooth animations and engaging user experiences. Learn how this design philosophy can set your brand apart in the digital world.</p>
            </div>
            <div class="author-info">
                <span>Author: Jon Doe</span>
            </div>
        </div>
        <div class="stats">
            <div class="views">
                <span>&#128065; 1200</span>
            </div>
            <div class="likes">
                <span>&#128077; 1200</span>
            </div>
        </div>
    </div>
  
 
    
    
    
   
    <footer>
        <div class="logo">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/facebook.png" alt="">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/reddit.png" alt="">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/youtube.png" alt="">
        </div>
        <div class="design">design by : RAJIV</div>

    </footer>



</body>

</html>