<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <img src="../Vector.png" alt="" width="70" height="70">
        <div class="nav-list">
            <li>HOME</li>
            <li>ABOUT</li>
            <li>BLOGS</li>
            <li>PORTIFOLIOS</li>
        </div>
        <button>Sign Up</button>
    </nav>
    <div class="banner-header">
        <div class="slider">
            <div class="slides">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <img src="../MEDIA_FILES/IMAGES/images (14).jpg" alt="">
                </div>

                <div class="slide">
                    <img src="../MEDIA_FILES/IMAGES/images (1).jpg" alt="">
                </div>

                <div class="slide">
                    <img src="../MEDIA_FILES/IMAGES/images (14).jpg" alt="">
                </div>

                <div class="slide">
                    <img src="../MEDIA_FILES/IMAGES/images (14).jpg" alt="">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>

            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>


        </div>
    </div>
    <div class="galery">
        <div>
            <img src="../MEDIA_FILES/IMAGES/images (12).jpg" alt="" width="377" height="243">
            <p>⭐ 4.9</p>

        </div>
        <div>
            <img src="../MEDIA_FILES/IMAGES/images (1).jpg" width="377" height="243" alt="">
            <p>⭐ 4.9</p>

        </div>
        <div>
            <img src="../MEDIA_FILES/IMAGES/images (11).jpg" width="377" height="243" alt="">
            <p>⭐ 4.9</p>

        </div>
    </div>
    <section class="about">
        <div class="text">
            <p>
                Wet Tech ID is at the forefront of water technology, providing innovative
                solutions to tackle global water challenges. Our website serves as a hub
                for information, research, and products focused on sustainable water
                management and advanced technologies that promote water efficiency,
                conservation, and purification.
            </p>
            <button>
                Learn more ->
            </button>
        </div>
        <div class="image">
            <img src="../MEDIA_FILES/IMAGES/images (2).jpg" alt="" width="570" height="418">
        </div>
    </section>
    <section class="service">
        <h1>
            service
        </h1>
        <div>
            <img src="../MEDIA_FILES/IMAGES/images (17).jpg" width="377" height="243" alt="">
            <p>Consultation and Customization Wet Tech ID offers expert consultation to help you design and implement
                water management systems that are efficient, cost-effective, and environmentally friendly. We provide
                customized solutions that align with your operational goals and sustainability initiatives.</p>
            <p>Sustainable Irrigation Solutions Designed for agricultural sectors, our irrigation solutions promote
                water conservation while enhancing crop yield. We implement intelligent irrigation systems that adjust
                water delivery based on soil moisture, weather conditions, and plant needs.</p>
            <img src="../MEDIA_FILES/IMAGES/images (17).jpg" width="377" height="243" alt="">
        </div>
    </section>
    
    <section class="portofolios">
        <img src="../MEDIA_FILES/IMAGES/images (2).png" width="591" height="822" alt="">
        <div>
            <p>
            <h1>Webtech ID</h1>
            <br>

            Creating Fluid Web Experiences
            At Wet Tech ID, we specialize in crafting web designs that flow seamlessly, just like water. Our approach
            ensures that every website is adaptable, responsive, and visually striking, ensuring the best user
            experience across all devices.
            From the initial design concept to the final implementation, we focus on fluid aesthetics and dynamic
            functionality. Our recent projects include:



            </p>

            <ul>
                <li>
                    AquaNow - A modern e-commerce site for water sports equipment, featuring immersive, water-themed
                    animations.
                </li>
                <li>
                    FlowFit - A fitness app with a sleek, flowing interface that adapts perfectly to mobile and desktop
                    environments.
                </li>
                <li>
                    BlueWave Agency - A digital marketing agency website that uses gentle motion and liquid-like
                    transitions to
                    create a captivating user journey.
                </li>
            </ul>
            <p>With Wet Tech ID, we aim to transform the web into a fluid, adaptable environment where form meets
                function in perfect harmony.</p>
        </div>
    </section>
    <section class="search">
        <input type="text">
        <button>SEARCH</button>

    </section>
    <section class="testimonial">
        <div class="kotak">
            <img src="../MEDIA_FILES/IMAGES/images (5).jpg" width="377" height="243" alt="">
            <p>
                "Working with Wet Tech ID has been an absolute pleasure. They transformed our vision into a stunning,
                responsive website that perfectly reflects our brand. The wet design concept really brought our site to
                life, making it dynamic and engaging. Our customers love the smooth user experience!"
            </p>
        </div>
        <div class="segitiga"></div>
    </section>
    <footer>
        <div class="logo">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/facebook.png" alt="">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/reddit.png" alt="">
            <img src="../MEDIA_FILES/SOCIAL_MEDIA/Black and White/youtube.png" alt="">
        </div>
        <div class="design">design by : RAJIV</div>

    </footer>



</body>

</html>